<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a [routerLink]="['/list-clients']" class="navbar-brand">Proxibanque</a></div>
    <a [routerLink]="['/list-clients']" class="nav-item nav-link text-light">Acceuil</a>
    <a [routerLink]="['/create-client']" class="nav-item nav-link text-light">Creer client</a>
   
    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
            <a class="nav-link text-light" >Logout</a>
        </li>
    </ul>
</nav>
