<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a [routerLink]="['/accueil']" class="navbar-brand">Proxibanque</a></div>
    <a routerLink="/list-clients" *ngIf="role==='CONSEILLER'" class="nav-item nav-link text-light">Acceuil</a>
    <a routerLink="/list-conseillers" *ngIf="role==='GERANT'" class="nav-item nav-link text-light">Acceuil</a>
    <a routerLink="/create-client" *ngIf="role==='CONSEILLER'" class="nav-item nav-link text-light">Créer client</a>
    <a routerLink="/dashboard" *ngIf="role==='GERANT'" class="nav-item nav-link text-light">Dashboard</a>
    <a routerLink="/create-conseiller" *ngIf="role==='GERANT'" class="nav-item nav-link text-light">Créer conseiller</a>
   
    <ul class="navbar-nav navbar-collapse justify-content-end">
        <li>
            <a class="nav-link text-light" (click)="logout()" >Logout</a>
        </li>
    </ul>
</nav>
