<form class="container mt-5">
    <div class="form-group">
      <label for="compte1">Compte débiteur</label>
      <input type="text" class="form-control" id="compte1"  placeholder="Enter compte1">
      
    </div>
    <div class="form-group">
        <label for="compte2">Compte créditeur</label>
        <input type="text" class="form-control" id="compte2"  placeholder="Enter compte2">
        
      </div>
      <div class="form-group">
        <label for="montant">Montant</label>
        <input type="text" class="form-control" id="montant"  placeholder="Enter montant">
        
      </div>
 
    <button type="submit" class="btn btn-primary">effectuer virement</button>
  </form>
