<div class="container mt-5">
<table class="table center">  
    <thead>
      <tr>
        <th scope="col">CODE CLIENT</th>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        
        <th scope="col">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of clients">
        <th scope="row">{{c.code}}</th>
          <td>{{c.nom}}</td>
          <td>{{c.prenom}}</td>
          

          <td>
            <button type="button" class="btn btn-outline-success" >Modifier</button>
            <button type="button" class="btn btn-outline-primary" [routerLink]="['/details-client', c.code]">Details</button>
            <button type="button" class="btn btn-outline-warning" [routerLink]="['/virement']">Virement</button>
            <button type="button" class="btn btn-outline-danger" (click)="delete(c.code)">Supprimer</button>
          </td>
          </tr>
    </tbody>
    </table>
  </div>