
<div class="container mt-5">
<div class="card-deck">
  <div class="card">
    <div class="card-header">Informations sur le client</div>
    <div class="card-body">
   
      <div *ngIf="client">
        <div>
          <label><b>Nom de famille: </b></label> {{client.nom}}
        </div>
        <div>
          <label><b>Prénom: </b></label> {{client.prenom}}
        </div>
        <div>
          <label><b>Email : </b></label> {{client.email}}
        </div>  
        <div>
          <label><b>Adresse : </b></label> {{client.adresse}}
        </div>
        <div>
          <label><b>Ville : </b></label> {{client.ville}}
        </div>
        <div>
          <label><b>Code Postal : </b></label> {{client.codePostale}}
        </div>
      </div>
    </div>
  
    <br>
    <td>
    <button (click)="list()" class="btn btn-primary float-right"> Retour </button>
  </td>
  </div>


  <div class="card">
    <div class="card-header">Informations sur les comptes</div>
    <div class="card-body">

        <div *ngIf="client.compteCourant">
            <h4>Informations comptes courants</h4>
            <table class="table">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">N° Compte</th>
                  <th scope="col">Date ouverture</th>
                  <th scope="col">Solde</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">{{client.compteCourant.numCompte}}</th>
                  <th >{{client.compteCourant.dateCreation | date : 'dd/MM/yyyy'}}</th>
                  <th >{{client.compteCourant.solde}}</th>
                </tr>
              </tbody>
            </table>
          </div>


      <div *ngIf="client.compteEpargne">
        <h4>Informations comptes épargne</h4>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">N° Compte</th>
              <th scope="col">Date ouverture</th>
              <th scope="col">Solde</th>
              
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{client.compteEpargne.numCompte}}</th>
              <th >{{client.compteEpargne.dateCreation | date : 'dd/MM/yyyy'}}</th>
              <th >{{client.compteEpargne.solde}}</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
</div>
