
<div class="container mt-5">
    <div class="card-deck">
      <div class="card">
        <div class="card-header">Informations sur le conseiller</div>
        <div class="card-body">
       
          <div *ngIf="conseiller">
            <div>
              <label><b>Nom de famille: </b></label> {{conseiller.nom}}
            </div>
            <div>
              <label><b>Prénom: </b></label> {{conseiller.prenom}}
            </div>
            
          </div>
        </div>
        <br>
        <td>
        <button (click)="list()" class="btn btn-primary float-right"> Retour </button>
        </td>
    </div>
    
</div>
    
